@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

#__next {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

._render-monstor {
  zoom: 0.2;
}

@screen sm {
  ._render-monstor {
    zoom: 0.4;
  }
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
